@import url('https://fonts.googleapis.com/css?family=Monoton');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: lightyellow;
	background-image: url("image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.badge{
	width: 96px;
	background-color: #e66357;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: -15px;
	left: 40%;
}
.main{
	background-color: #ccc;
	width: 400px;
	margin: 100px auto;
	height: 400px;
	position: relative;
	padding: 20px;
	border: 5px double black;
	border-radius: 50%;
	box-shadow: 20px 20px 40px;
}
.clock{
	/*background-image: linear-gradient(100deg, #FF0000, #00C0FF, #10A605);*/
	background-color: #002320;
	text-align: center;
	font-size: 55px;
	height: 350px;
	width: 350px;
	color: #fff;
	padding-top: 130px;
	font-family: monoton;
	border-radius: 50%;
}